/* Extra small devices (portrait phones, less than 576px) */
@media(max-width:575.98px){
    h1{
        color: aqua;
        font-size: 16px;
    }
    h2{
        color: lightcoral;
        font-size: 13px;
    }
    
}

/* small devices (landscape phones, 576px and up) */
@media(min-width:576px) and (max-width:767.98px){
    h1{
        color: rgb(4, 110, 110);
        font-size: 18px;
    }
    h2{
        color: rgb(150, 44, 44);
        font-size: 16px;
    }
}


/* Medium devices (Tablates, 768px and up) */
@media(min-width:768px) and (max-width:991.98px){
    h1{
        color: rgb(15, 97, 49);
        font-size: 20px;
    }
    h2{
        color: rgb(136, 38, 128);
        font-size: 18px;
    }
}

/* small devices (landscape phones, 992px and up) */
@media(min-width:992px) and (max-width:1199.98px){
    h1{
        color: rgb(209, 240, 96);
        font-size: 22px;
    }
    h2{
        color: rgb(54, 12, 12);
        font-size: 20px;
    }
}

/* small devices (landscape phones, 1200px and up) */
@media(min-width:1200px) and (max-width:1399.98px){
    h1{
        color: rgb(77, 1, 255);
        font-size: 24px;
    }
    h2{
        color: rgb(138, 101, 0);
        font-size: 22px;
    }
}

/* Custom (landscape phones, 1400px and up) */
@media(min-width:1400px) and (max-width:1599.98px){
    h1{
        color: rgb(16, 51, 51);
        font-size: 25px;
    }
    h2{
        color: rgb(255, 0, 0);
        font-size: 23px;
    }
}

/* custom devices (landscape phones, 1600px and up) */
@media(min-width:1600px) and (max-width:1799.98px){
    h1{
        color: rgb(255, 102, 0);
        font-size: 26px;
    }
    h2{
        color: rgb(82, 4, 78);
        font-size: 24px;
    }
}

/* Custom devices (landscape phones, 1800px and up) */
@media(min-width:1800px){
    h1{
        color: rgb(0, 241, 241);
        font-size: 28px;
    }
    h2{
        color: rgb(255, 139, 139);
        font-size: 26px;
    }
}